{% extends "website/base.html" %}
{% block title %}Dr. Betty{% endblock %}

{% block content %}
<div class="article">
	<img class="image_left" src="/static/images/betty.png" alt="Dr. Betty">
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	{% for service in services %}
	<span class="service">
		<h3>{{ service.title }}</h3>
		<ul>
			{% for subservice in service.subservices.all %}
			<li>{{ subservice }}</li>
			{% endfor %}
		</ul>
	</span>
	{% endfor %}
</div>
{% endblock %}
