{% extends "website/base.html" %}
{% block title %}Get Health Esteem index{% endblock %}

{% block content %}
<div class="article">
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
	<p>
		Dr. Betty specializes in the relationship between mental health and physical health. Dr. Betty’s practice
		focuses on health promotion, coping skills, preventing disease development and overcoming/slowing disease
		progression. As a Health Psychologist and Life Coach she focuses upon how biological, psychological, and
		social factors affect health, sport, and illness. She is currently working with clients ages 6 six to 82
		years old to develop positive coping strategies in adjusting to life’s mental or physical challenges,
		improving quality of life and self-esteem, and developing lifelong positive behavior patterns.
	</p>
</div>
{% endblock %}
